
.page-header-listings {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;  
    padding: 5rem 4rem 2rem;
}

.listings-title {
    display: flex;
    height: 10rem;
    width: 70rem;
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: var(--home-bento-corner);
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.ls-bio {
    
    display: grid;
    place-items: center;
    background: linear-gradient(180deg, rgb(255, 230, 245), rgba(255, 255, 255, 0.3));
    grid-area: intro;
    border-radius: var(--home-bento-corner);
    box-shadow: 0 0 .8rem .3rem rgba(0, 0, 0, .3);
    padding: 8rem 7rem;
    border: none;
    font-size: 1.5rem;
}

.ls-main {
    margin: 3rem auto 8rem;
    display: flex;
    gap: 8rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: min(80vw, 200rem)
}

.listing-pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 5rem;
    font-size: 2rem;
    border-radius: 1.2rem;
}

@media screen and (max-width: 1000px) {
    .page-header-listings { 
        padding: 2rem 4rem .5rem;
    }

    .listings-title {
        height: 4rem;
        width: 40rem;
        max-width: 60vw;
        border-radius: 1.2rem;
        font-size: 2rem;
    }

    .ls-bio {
        place-items: center;
        border-radius: 1.2rem;
        padding: 4rem 3rem;
    }

    .ls-main {
        margin: 3rem auto 8rem;
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: min(80vw, 200rem)
    }
    
}